@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
}
#container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
   
    
}
#container-grid{
    width: 800px;
    min-height: 500px;
    display: grid;
    grid-template-rows: 200px 330px;
    grid-template-columns: 350px 350px;
    grid-template-areas: 
    'grid-item1 grid-item1'
    'grid-item2 grid-item3';
}
#grid-item1{
    border-radius: 10px 10px 0 0;
    grid-area: grid-item1;
    background-color: hsl(360, 0%, 100%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    padding-left: 20px;

}

h2{
    color: hsl(179, 62%, 43%);
}

#texto-verde{
    color: hsl(71, 73%, 54%)
}

#grid-item1 p{
    color: hsl(223, 13%, 84%);
    font-weight: 700;

}
#grid-item2{
    background-color: hsl(179, 62%, 43%);
    border-radius: 0 0 0 10px;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    width: 300px;
    justify-content: center;

}

#grid-item2 h3{
    color:  hsl(360, 0%, 100%);
}
#per-month{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

#t29{
    color:  hsl(360, 0%, 100%);
    font-size: 30px;
    float: left;
}

#text-month{
    display: flex;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    color: hsl(360, 0%, 100%) ;
    opacity: 0.5;
    font-weight: 200;
    font-size: 20px;
}

#texto-full{
    color:  hsl(360, 0%, 100%);
    font-size: 15px;
}

button{
    background-color: hsl(71, 72%, 53%);
    color: hsl(360, 0%, 100%);
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    font-size: 20px;
}

button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: coral;
  } 

#grid-item3{
    background-color: rgb(74, 190, 189);
    border-radius: 0 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    padding-left: 20px;

}
#listas{
    background-color: rgb(74, 190, 189);
    border-radius: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 20px;
    

}

#grid-item3 h3{
    color:  hsl(360, 0%, 100%);
}

#grid-item3 p{
    color:  hsl(360, 0%, 100%);
    font-size: 15px;
}

@media(max-width: 376px) {
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        max-width: 375px;   
    }
    #container-flex{
        margin: 0;
        display: flex;
}

    #container-grid{
        max-width: 375px;
        height: 100%;
        display: flex;
        flex-direction: column;    
        
    }

    #grid-item1{
        display: flex;
        flex-direction: column;
        width: 375px;
        padding: 0px 10px 0px 40px;
        align-content: space-around;
        border-radius: 0px;
    }

    #grid-item h2{
        max-width: 375;
        margin: 5px;
    }
    #grid-item2{
        display: flex;
        flex-direction: column;
        width: 375px;
        padding: 0px 10px 30px 40px;
        align-content: flex-start;
        border-radius: 0px;    
    }

    button:hover{
        transform: scale(1.1);
        transition: all 0.5s;
        background-color: coral;
      } 
   
    #grid-item3{
        display: flex;
        flex-direction: column;
        width: 375px;
        padding: 0px 10px 0px 40px;
        align-content: flex-start;
        border-radius: 0px;
    }
}